body{ background:#FFF}
.container{1170px;}
.product li{float:left;margin-top:50px;margin-bottom:30px;}
#fixedTools{display:none}
/*.line_text{color: #000;height:300px;
    font-size: 20px;
    width:1110px;
    line-height: 36px;
    height: 72px;
    overflow: hidden;
    padding-top: 178px;
    margin: 0 auto 38px auto;
    text-align: center;text-indent: 2em;}*/
.line_text{font-size: 16px; margin: 0 auto 38px auto;text-indent: 2em;}	
	footer {
    background-color: #343c3f;
    width: 100%;
    padding: 10px 10px 15px 10px;
}

footer .copyright {
    color: #ccc;
    text-align: center;
    line-height: 26px;
}